.box{
    height: 100px;
    width: 300px;
    text-align: center;
/*  animation-name: width_animation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse; */
    animation: width_animation 2s ease-in 0s infinite alternate-reverse;
}
@keyframes font_animation{
    from{
        font-size: 20px;
    }
    to{
        font-size: 50px;
    }
}
@keyframes width_animation{
    0%{
        width: 300px;
        background-color: aqua;
    }
    50%{
        background-color: brown;
    }
    100%{
        width: 20px;
        background-color: blue;
        border-radius: 100%;
    }
}